---
import { Image } from 'astro:assets';
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "@components/hero.astro";
import hero from "../assets/home2.gif"
---

<BaseLayout title="Home | Pablo J. García" description="Pablo José García | Frontend Developer">
  <div class="stack gap-20">
    <header class="wrapper hero">
      <Hero
        align="left"
        title="Hi!, I'm Pablo J. García"
        tagline="Frontend developer"
      />
      <Image src={hero} alt="Programing developer" width="auto" height="auto"/>
    </header>

  </div>
</BaseLayout>
<style lang="scss">
  .wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .hero {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0;
    gap: 1.5rem;
    min-height: calc(100vh - 246px);
    img {
      width: 100%;
      max-width: 35rem;
    }
  }

  @media (min-width: 50em) {
    .hero {
      flex-direction: row;
      gap: 6rem;
    }

    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
